.hero {
  min-height: 100vh;
  width: 100vw;
  /* border: 2px solid red; */

  display: flex;
  align-items: flex-start;
  justify-content: center;

  padding-top: 170px;
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, #e5e7eb 1px, transparent 1px),
    linear-gradient(to bottom, #e5e7eb 1px, transparent 1px);
}

.main-text {
  font-family: "Figtree", sans-serif;
  font-weight: 500;
  font-size: 50px;
  line-height: 1.35;
}

.logo-hero {
  width: 50px;
  height: 50px;
  border-radius: 16px;

  margin: 0 10px;
  vertical-align: middle;

  box-shadow: 0 2px 4px 2px rgb(222, 221, 221);
}
.title-text {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 40px;
  font-weight: 1200px;
}
